<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JSP Page</title>
    </head>
    <body>
        <table>
            <tbody>
                <tr th:each="message : ${messages}">
                    <td th:text="${message.id}">1</td>
                    <td><a href="#" th:text="${message.title}">Title</a></td>
                    <td th:text="${message.text}">Text</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>

